/*****
mystyle
*/

.ec-base-product .prdList{
  display: flex;
  flex-wrap: wrap;
  
  box-sizing: border-box;
  /* border: 1px solid #f00; */
}
.main_product_slide .ec-base-product .prdList{
  flex-wrap: nowrap;
}
.ec-base-product .prdList >li{
  flex:none;
  margin: 0 0 70px 0;
}

.ec-base-product .prdList .prdList__item{
  margin: 0 10px;
}

.ec-base-product  .prdList__item .thumbnail{}
.ec-base-product  .prdList__item .thumbnail .prdIcon.ec-product-bgRT{
  /* background-position: right top; */
  background-position: calc(100% - 10px)  calc(0% + 10px);
}
.ec-base-product  .prdList__item .thumbnail .icon__box{
  opacity: 0;
  position: absolute;
  top: 50%; transform: translateY(-50%);   /* 아이콘이 가운데 위치하게 */
  left: 0; right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ec-base-product .prdList>li:hover .prdList__item .thumbnail .icon__box{
  opacity: 1;
  transition: opacity 0.5s;
}

.ec-base-product .prdList .prdList__item .icon__box > span {
    display: block;
    position: relative;
    font-size: 11px;
    font-weight: 500;
    color: #000;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 3px;

    /* 아이콘만  */
    min-width: 72px;
    height: 40px;
    padding: 10px 15px;
    font-size: 0;   /* 텍스트가 안보이게  */
    color: transparent;

    /* 제일 긴 글자와 아이콘이 포함
    min-width: 100px;
    height: 40px;
    padding: 8px 8px; */

    line-height: 1;
    background-color: rgba(255, 255, 255, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF,endColorstr=#B3FFFFFF);
}
.ec-base-product .prdList .prdList__item .icon__box > span:hover, .ec-base-product .prdList .prdList__item .icon__box > span.on {
    /* background-color: #000; */
    background-color: #fff;
    border: 1px solid #000;
    /* color: #fff; */
    color: transparent;
}
.ec-base-product .prdList .prdList__item .icon__box > span img {
    position: static;
    width: auto;       /* 부모의 높이를 따라서 가로세로 비율 유지 */
    max-width: none;
    height: 100%;     /* 부모의 높이를 따라라 */
    top: 0;
    left: 0;
    opacity: 1;
}
.ec-base-product  .prdList__item .description{}

/* card-border */

.ec-base-product .prdList.card-border>li{
  box-sizing: border-box;
  
}
.ec-base-product .prdList.card-border .prdList__item{
  margin: 0 10px;
  border: 1px solid currentColor;
}
.ec-base-product .prdList.card-border .prdList__item .description{
  min-height: 100px;
  box-sizing: border-box;
  padding: 0 16px;

}

/* card-border-no-margin */
.ec-base-product .prdList{
  --border: 1px solid currentColor;
}
.ec-base-product .prdList.card-border-no-margin{
  border-top: var(--border);
}
.ec-base-product .prdList.card-border-no-margin>li{
  margin: 0;
  
}
.ec-base-product .prdList.card-border-no-margin .prdList__item{
  margin: 0 0px;
  border-left: var(--border);
  border-bottom: var(--border);
}
/* 
grid2: nth-child(2n)
grid3: nth-child(3n)
 */
.ec-base-product .prdList.card-border-no-margin>li:nth-child(4n) .prdList__item,
.ec-base-product .prdList.card-border-no-margin>li:last-child .prdList__item
{
  border-right: var(--border);
}

.ec-base-product .prdList.card-border-no-margin .prdList__item .description{
  min-height: 100px;
  box-sizing: border-box;
  padding: 0 16px;

}
/* section 관련 스타일 수정 */
.section{border: 1px solid #f00;}
.content-test{
  border: 1px solid #00f;
  min-height: 200px;
  background-color: #ccc;
}
/* 
1. section_full_content_center
section 배경색
content-test는 가운데 정렬
mian_title이 cintent 너비 범위에서 left/center/right 정렬
 */

 .section{
  /* section_full_content_center 관련 변수 선언 */
  --section-bg:#fea;
  --section-padding-top-bottom:40px;
  --section-main-banner-padding:16px;
 }

 #contents > .section_full_content_center{
  background-color: var(--section-bg);
  width: 100%;
  max-width: none;
  padding-top: var(--section-padding-top-bottom);
  padding-bottom: var(--section-padding-top-bottom);
 }

 #contents > .section_full_content_center .main_3dan_banner .main_banner_txt{
  margin-top: 0;
  padding: var(--section-main-banner-padding);
  background-color: #fff;
  box-sizing: border-box;
 }

@media (min-width: 1024px) {
  #contents > .section_full_content_center > div{
  max-width: 1230px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  }
}

/* 
2. section_full_only_content
   제목은 기존 섹션의 너비에 맞게 정렬이 되고, 
   컨텐츠는 브라우저 전체를 사용 */

  #contents > .section_full_only_content{
  background-color: var(--section-bg);
  width: 100%;
  max-width: none;
  padding-top: var(--section-padding-top-bottom);
  padding-bottom: var(--section-padding-top-bottom);
 }

 @media (min-width: 1024px) {
  #contents > .section_full_only_content > .main_title{
  max-width: 1230px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  }
}
